@model Animal.Models.AnimalSelection

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AnimalSelection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="animalId" class="control-label"></label>
                <input asp-for="animalId" class="form-control" />
                <span asp-validation-for="animalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ownerId" class="control-label"></label>
                <input asp-for="ownerId" class="form-control" />
                <span asp-validation-for="ownerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="farmId" class="control-label"></label>
                <input asp-for="farmId" class="form-control" />
                <span asp-validation-for="farmId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="selectionDate" class="control-label"></label>
                <input asp-for="selectionDate" class="form-control" />
                <span asp-validation-for="selectionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shortNotes" class="control-label"></label>
                <input asp-for="shortNotes" class="form-control" />
                <span asp-validation-for="shortNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
