@model Animal.Models.PregnancyBaseNutrition

@{
    ViewData["Title"] = "AddEditPregnancy";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">Pregnancy Nutrition</h3>
    </div>
    <div class="card-body">
        @Html.HiddenFor(m => m.id)
        <form asp-action="AddEditPregnancy">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*<div class="form-group">
            <label asp-for="animalSpecies" class="control-label"></label>
            <input asp-for="animalSpecies" class="form-control" />
            <span asp-validation-for="animalSpecies" class="text-danger"></span>
        </div>*@
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Species Name</label>
                        <select asp-for="speciesId" asp-items=" ViewBag.Species" class="form-control">
                            <option disabled selected>select</option>
                        </select>


                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Pregnancy Type</label>
                        <select asp-for="PregrenencyType" class="form-control">
                            <option disabled selected>select PregrenencyType</option>
                            <option value="Early">Early Pregrenency</option>
                            <option value="Mid">Mid Pregrenency</option>
                            <option value="Late">Late Pregrenency</option>
                        </select>
                    </div>
                </div>
                @*<div class="col-md-4">
            <div class="form-group">
                <label asp-for="breed" class="control-label"></label>
                <input asp-for="breed" class="form-control" />
                <span asp-validation-for="breed" class="text-danger"></span>
            </div>
        </div>*@

                <div class="col-md-4">

            <div class="form-group">
                <label asp-for="weight" class="control-label"></label>
                <input asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger"></span>
            </div>
        </div>

                @*<div class="col-md-4">
            <div class="form-group">
                <label asp-for="earlyPreg" class="control-label"></label>
                <input asp-for="earlyPreg" class="form-control" />
                <span asp-validation-for="earlyPreg" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="midPreg" class="control-label"></label>
                <input asp-for="midPreg" class="form-control" />
                <span asp-validation-for="midPreg" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="latePreg" class="control-label"></label>
                <input asp-for="latePreg" class="form-control" />
                <span asp-validation-for="latePreg" class="text-danger"></span>
            </div>
        </div>*@

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Age of Animal</label>
                        <input asp-for="ageOfAnimal" class="form-control" />
                        <span asp-validation-for="ageOfAnimal" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Fat Percentage</label>
                        <input asp-for="fatPercentage" class="form-control" />
                        <span asp-validation-for="fatPercentage" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>snf</label>
                        <input asp-for="snf" class="form-control" />
                        <span asp-validation-for="snf" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="dm" class="control-label"></label>
                        <input asp-for="dm" class="form-control" />
                        <span asp-validation-for="dm" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="cp" class="control-label"></label>
                        <input asp-for="cp" class="form-control" />
                        <span asp-validation-for="cp" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="tdn" class="control-label"></label>
                        <input asp-for="tdn" class="form-control" />
                        <span asp-validation-for="tdn" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ndf" class="control-label"></label>
                        <input asp-for="ndf" class="form-control" />
                        <span asp-validation-for="ndf" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="c" class="control-label"></label>
                        <input asp-for="c" class="form-control" />
                        <span asp-validation-for="c" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="p" class="control-label"></label>
                        <input asp-for="p" class="form-control" />
                        <span asp-validation-for="p" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="milkVolumn" class="control-label"></label>
                        <input asp-for="milkVolumn" class="form-control" />
                        <span asp-validation-for="milkVolumn" class="text-danger"></span>
                    </div>
                </div>
            </div>




            <div class="col-md-12" style="text-align:center; padding-top:15px;">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a asp-action="Index" class="btn btn-danger">Back to List</a>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
