@model FeedFooder
@using Animal.Models
<div class="card">
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">Feed Fooder</h3>
    </div>
    <div class="card-body">

        @Html.HiddenFor(m => m.id)

        <form asp-action="AddEditFeed">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Fooder Name Nepali</label>

                        <input asp-for="fooderNameNep" class="form-control" />
                        <span asp-validation-for="fooderNameNep" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Fooder Name English</label>
                        <input asp-for="fooderNameEng" class="form-control" />
                        <span asp-validation-for="fooderNameEng" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="category" class="control-label"></label>
                        @Html.DropDownList("category", new List<SelectListItem>() { new SelectListItem() { Text = "--select category--", Value = "" },
                       new SelectListItem() { Text = "Green", Value = "Green" },
                       new SelectListItem() { Text = "Dry", Value = "Dry" },
                       new SelectListItem() { Text = "Grains/Seeds", Value = "Grains/Seeds" },
                       new SelectListItem() { Text = "Cakes/Meals", Value = "Cakes/Meals" },
                       new SelectListItem() { Text = "Straws", Value = "Straws" },
                       new SelectListItem() { Text = "Brans/fodder", Value = "Brans/fooder" },
                       new SelectListItem() { Text = "Mineral", Value = "Mineral" } }, new { @class = "form-control" })
                        <span asp-validation-for="category" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="address" class="control-label"></label>
                        <input asp-for="address" class="form-control" />
                        <span asp-validation-for="address" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="municipility" class="control-label"></label>
                        <input asp-for="municipility" class="form-control" />
                        <span asp-validation-for="municipility" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="district" class="control-label"></label>
                        <input asp-for="district" class="form-control" />
                        <span asp-validation-for="district" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="state" class="control-label"></label>
                        <input asp-for="state" class="form-control" />
                        <span asp-validation-for="state" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Short Note</label>
                        <input asp-for="shortNote" class="form-control" />
                        <span asp-validation-for="shortNote" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="cultivation" class="control-label"></label>
                        <input asp-for="cultivation" class="form-control" />
                        <span asp-validation-for="cultivation" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Seeding Method</label>
                        <input asp-for="seedingMethod" class="form-control" />
                        <span asp-validation-for="seedingMethod" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Seed Harvesting Storage</label>
                        <input asp-for="seedHarvestingStorage" class="form-control" />
                        <span asp-validation-for="seedHarvestingStorage" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Grass Product</label>
                        <input asp-for="grassProduct" class="form-control" />
                        <span asp-validation-for="grassProduct" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>DM</label>
                        <input asp-for="dm" class="form-control" />
                        <span asp-validation-for="dm" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>CP</label>
                        <input asp-for="cp" class="form-control" />
                        <span asp-validation-for="cp" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>TDN</label>

                        <input asp-for="tdn" class="form-control" />
                        <span asp-validation-for="tdn" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>NDF</label>

                        <input asp-for="ndf" class="form-control" />
                        <span asp-validation-for="ndf" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>C</label>

                        <input asp-for="c" class="form-control" />
                        <span asp-validation-for="c" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>P</label>

                        <input asp-for="p" class="form-control" />
                        <span asp-validation-for="p" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>DF</label>

                        <input asp-for="df" class="form-control" />
                        <span asp-validation-for="df" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>ADL</label>

                        <input asp-for="adl" class="form-control" />
                        <span asp-validation-for="adl" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        Tanni
                        <input asp-for="tanni" class="form-control" />
                        <span asp-validation-for="tanni" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nitrate Score</label>

                        <input asp-for="nitrateScore" class="form-control" />
                        <span asp-validation-for="nitrateScore" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="remarks" class="control-label"></label>
                        <input asp-for="remarks" class="form-control" />
                        <span asp-validation-for="remarks" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="price" class="control-label"></label>
                        <input asp-for="price" class="form-control" />
                        <span asp-validation-for="price" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="col-md-12" style="text-align:center; padding-top:15px;">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>

        </form>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-danger">Back to List</a>
    </div>
</div>

