
@{
    ViewData["Title"] = "GenerateEarTag";
}

<h2>GenerateEarTag</h2>

<h4>EarTag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerateEarTag">



            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label name="start" class="control-label">Start Ear Tag</label>
                <input name="start" class="form-control" type="number"/>
                
            </div>
            <div class="form-group">
                <label name="end" class="control-label">End Ear Tag</label>
                <input name="end" class="form-control" type="number" />
               
            </div>
           
            <div class="form-group">
                <input type="submit" value="Generate" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

