@model IEnumerable<Animal.Models.EarTag>

@{
    ViewData["Title"] = "Index";

}
<div class="card mb-4">
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">Ear Tag</h3>
    </div>
    <div class="card-body col-md-6">
        <p>
            <a asp-action="GenerateEarTag" class="btn btn-outline-primary">Generate Eartag No:</a>
        </p>

        <table class="table table-bordered col-md-12" id="myTable">
            <thead>
                <tr>
                    <th>Serial No</th>
                    <th>
                       Ear Tag No
                    </th>


                </tr>
            </thead>
            <tbody>
                @{int i =1;}
                @foreach (var item in Model)
                {
                <tr>
                    <td>@i</td>
                   

                    <td>
                        @Html.DisplayFor(modelItem => item.earTagNo)
                    </td>
                </tr>
                    i++;
                }
                
            </tbody>
        </table>

    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("body div.myTable input");
            var dataSrc = [];
            var table = $("#myTable").DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 1 }
                ],
                "pageLength": 50,
            });
        });
    </script>
}
